<div class="container mt-4">
    <h2>Historial de ventas</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Total</th>
          <th>Productos</th>
          <th>Usuario</th>
          <th>Cancelar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of sales">
          <td>{{ sale.date.toDate() | date: 'short' }}</td>
          <td>{{ sale.total | currency:'COP':'symbol':'1.0-0':'es-CO'  }}</td>
          <td>
            <ul>
              <li *ngFor="let item of sale.items">
                {{ item.name }} (x{{ item.quantity }}) - {{ item.price | currency:'COP':'symbol':'1.0-0':'es-CO'  }}
              </li>
            </ul>
          </td>
          <td>{{sale.user}}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="cancelSale(sale)">
              Cancelar venta
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  