<app-loading [loading]="loading"></app-loading>
<app-success-message [visible]="success" message="Venta guardada"></app-success-message>
<div class="container mt-4">
    <h2 class="d-flex justify-content-between">Vender
      <button class="btn btn-secondary ms-2" type="button"(click)="resetSale()">
        Cancelar <i class="bi bi-x-circle"></i>
      </button>
    </h2>
    <hr>
  
    <!-- Barcode Input -->
    <input
      #barcodeInputRef
      class="form-control mb-3"
      [(ngModel)]="barcodeInput"
      (keydown.enter)="onBarcodeScanned()"
      placeholder="Escanear Codigo"
      autofocus
    />
  
    <!-- Cart Table -->
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Subtotal</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart; let i = index">
          <td>{{ item.name }}</td>
          <td>
            <input type="number" class="form-control" [(ngModel)]="item.quantity" 
            (change)="updateTotal()" 
            min="1"
            step="1"
             />
          </td>
          <td>{{ item.price | currency:'COP':'symbol':'1.0-0':'es-CO' }}</td>
          <td>{{ item.price * item.quantity | currency:'COP':'symbol':'1.0-0':'es-CO' }}</td>
          <td><button class="btn btn-danger btn-sm" (click)="removeItem(i)">    X    </button></td>
        </tr>
      </tbody>
    </table>
  
    <!-- Total and Complete Sale -->
    <h4>Total: {{ total | currency:'COP':'symbol':'1.0-0':'es-CO' }}</h4>
    <hr>
    <div class="row">
      <button class="btn btn-secondary ms-2 col-md-2" type="button"(click)="resetSale()">
        Cancelar <i class="bi bi-x-circle"></i>
      </button>
      <button class="btn btn-success btn-lg offset-md-3 col-md-6"  (click)="completeSale()" [disabled]="disableSale()"> 
        Completar venta <i class="bi bi-check-circle-fill"></i> 
      </button>
    </div>
  </div>
  